<html>
<head>
  <title>Donar Information</title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/style4.css')}}">
</head>
<body>
<form action="{{url_for('donarinfo')}}">
  <div class="Donar-box">
<img src="donar.png" class="donar">
 
      <p align="center">User Name</p>
      <input type="text" name="typetext" size="30">
	  
	   
      <p align="center">Unique ID</p>
      <input type="text" name="typetext" size="30">
	 
	  
      <p align="center">Donate Blood</p>
	  <input type="text" name="typetext" size="30">
	  
	  <p align="center">Donar card left</p>
	  <input type="text" name="typetext" size="30">
	   
	  
      

  </div>

</form>
 
</body>
</html>
